# put tmux status at top
set -g status-position top

# don't rename windows automatically
set -g allow-rename off

# start window/pane numbering at 1
set -g base-index 1
set -gw pane-base-index 1

# auto-renumber windows
set -g renumber-windows on

# split panes using | and -
unbind '"'
unbind %
bind | split-window -h
bind - split-window -v

# move window left or right
{% if tmux_version | int == 2 %}
bind -n C-Left swap-window -t -1
bind -n C-Right swap-window -t +1
{% else %}
bind -n C-Left swap-window -d -t -1
bind -n C-Right swap-window -d -t +1
{% endif %}

# switch windows using Ctrl-arrow without prefix
bind -n C-n next-window
bind -n C-p previous-window

# swap panes
bind -n C-k last-pane
{% if tmux_local is defined %}
# begin local customizations
{{ tmux_local }}
# end local customizations
{% endif %}

# List of plugins
{% for plugin in tmux_plugins %}
set -g @plugin '{{ plugin }}'
{% endfor %}

# Plugin options
{% for option in tmux_plugin_options %}
set -g @{{ option }}
{% endfor %}

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
